[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
yamllint = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
deploy = "sudo ansible-playbook -i hosts dotfiles.yml"
check = "ansible-playbook -i hosts dotfiles.yml --syntax-check"
lint = "yamllint -sc yamllint.yml yamllint.yml dotfiles.yml tasks/ vars.yml"
