[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]
yamllint = "*"
ansible-lint = "*"

[requires]
python_version = "3.7"

[scripts]
deploy = "sudo ansible-playbook -i hosts dotfiles.yml"
check = "ansible-playbook -i hosts dotfiles.yml --syntax-check"
lint-yml = "yamllint -sc yamllint.yml yamllint.yml dotfiles.yml tasks/ vars.yml"
lint = "ansible-lint dotfiles.yml -p"
