"*":
  "atom-alignment": {}
  "autoclose-html": {}
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    packagesWithKeymapsDisabled: [
      "merge-conflicts"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 15
    invisibles:
      tab: "-"
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "78a3a259-396e-edee-6010-e8552cf30255"
  "glowing-cursor":
    glowColor:
      red: 255
      green: 127
      blue: 0
      alpha: 1
    innerColor:
      red: 255
      green: 127
      blue: 0
      alpha: 1
  linter:
    errorPanelHeight: 22
  "linter-eslint":
    eslintRulesDir: "node_modules/eslint-config/"
  "linter-flake8":
    ignoreErrorCodes: [
      "E128"
      "E501"
    ]
  "merge-conflicts": {}
  minimap:
    plugins:
      "highlight-selected": true
  "tree-view": {}
  welcome:
    showOnStartup: false
