'*':
  # Because Atom needs to work more like sublime!
  'ctrl-up': 'core:move-up'
  'ctrl-down': 'core:move-down'
  'ctrl-shift-up': 'editor:move-line-up'
  'ctrl-shift-down': 'editor:move-line-down'

  'ctrl-t': 'application:new-file'
  'alt-u': 'editor:lower-case'
  'alt-shift-u': 'editor:upper-case'
  # Move panes in a logical way
  'ctrl-k e j': 'pane:split-left-creating-empty-pane'
  'ctrl-k e l': 'pane:split-right-creating-empty-pane'
  'ctrl-k e i': 'pane:split-up-creating-empty-pane'
  'ctrl-k e k': 'pane:split-down-creating-empty-pane'
  'ctrl-k j': 'pane:split-left-moving-current-tab'
  'ctrl-k l': 'pane:split-right-moving-current-tab'
  'ctrl-k i': 'pane:split-up-moving-current-tab'
  'ctrl-k k': 'pane:split-down-moving-current-tab'
  'ctrl-k d j': 'pane:split-left'
  'ctrl-k d l': 'pane:split-right'
  'ctrl-k d i': 'pane:split-up'
  'ctrl-k d k': 'pane:split-down'
  'ctrl-k m': 'pane:merge-all-panes'
